*{
	padding: 0;
	margin:0;
	box-sizing: border-box;
	font-family: "Noto Sans Display", sans-serif;
}

body{
	font-family: 'Lato', sans-serif;
}

brand-color {
	color: #f1faee;
}
main{
	width: 100%;
	min-height: 90vh; 
	display:flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

li{
	color: #ffffff;
}

.pdf-viewer{
	background-color: #ffffff;
	margin: auto;
}

.hidden{
	display:none !important;
}

.pagination{
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	color: #a10707;
	font-size: 1.4rem;
}

.main-page{
	color: #f1faee;
	margin: auto;
}


.main-page{
	color: #f1faee;
	margin: auto;
}

.btn{
	margin-right: 10px;
	margin-top: 10px;
}



.news-icon {
	/* fain modo che l'oggetto sia animato e si inclini di poco per poi tornare dritto*/
	animation: tilt 2s infinite;
  }
  
  @keyframes tilt {
	0% {
	}
	20% {
		transform: rotate(3deg);
	}
	35% {
		transform: rotate(-3deg);
	}
	50% {
		transform: rotate(3deg);
	}
	65% {
		transform: rotate(-3deg);
	}
	80% {
		transform: rotate(3deg);
	}

}

/* 360 animation */
.navbar-collapse-btn {
    animation: rotate 1s linear infinite !important;
	background-color: #a10707;
}
@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
	5% {
        transform: rotate(4deg);
    }
	10% {
        transform: rotate(0deg);
    }
	15% {
        transform: rotate(-4deg);
    }
	20% {
        transform: rotate(4deg);
    }
	25% {
        transform: rotate(0deg);
    }
	30% {
        transform: rotate(-4deg);
    }
	40% {
        transform: rotate(0deg);
    }
}