*{
	padding: 0;
	margin:0;
	box-sizing: border-box;
	font-family: "Pixelify Sans", sans-serif;
}

body{
	font-family: 'Lato', sans-serif;
}

brand-color {
	color: #f1faee;
}
main{
	width: 100%;
	min-height: 90vh; 
	display:flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

li{
	color: #ffffff;
}

.pdf-viewer{
	background-color: #ffffff;
	margin: auto;
}

.hidden{
	display:none !important;
}

.pagination{
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	color: #a10707;
	font-size: 1.4rem;
}

