*{
	font-family: "Noto Sans Display", sans-serif;
}

main{
	background-color: #43314e;
}

main{
	width: 100%;
	min-height: 90vh; 
	display:flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

html, body { background-color: #43314e !important;} 

nav {
	margin: 10px !important;
	border-radius: 15px !important;
	background-color: #faf5fd !important;

}

li{
	color: #ffffff;
}

.pdf-viewer{
	background-color: #ffffff;
	margin: auto;
}

.hidden{
	display:none !important;
}

.nav-btns {
	margin-left: 15px;
	margin-top: 3px;
	margin-bottom: 3px;
}

.pagination{
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	color: #a10707;
	font-size: 1.4rem;
}

.main-page{
	color: #f1faee;
	margin: auto;
}

tr, td, th {
	background-color: transparent !important;
	border: none !important;
}

table {
	background-color: white;
	border-radius: 15px;
}

.news-icon:hover {
	/* fain modo che l'oggetto sia animato e si inclini di poco per poi tornare dritto*/
	animation: tilt 2s infinite;
  }
  
  @keyframes tilt {
	0% {
	}
	20% {
		transform: rotate(20deg);
	}
	35% {
		transform: rotate(-20deg);
	}
	50% {
		transform: rotate(20deg);
	}
	65% {
		transform: rotate(-20deg);
	}
	80% {
		transform: rotate(20deg);
	}

}

/* 360 animation */
.navbar-collapse-animation {
    animation: rotate 1s linear infinite !important;
}
@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
	5% {
        transform: rotate(10deg);
    }
	10% {
        transform: rotate(0deg);
    }
	15% {
        transform: rotate(-10deg);
    }
	20% {
        transform: rotate(10deg);
    }
	25% {
        transform: rotate(0deg);
    }
	30% {
        transform: rotate(-10deg);
    }
	40% {
        transform: rotate(0deg);
    }
}


/*zoom */
.pdf-zoom-viewer {
    position: absolute;
    border: 1px solid black;
    display: none;
    z-index: 1000;
}

#canvas {
    border: 1px solid black;
    cursor: crosshair;
}